<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><title>Test</title>
</head>
<body><div style="text-align:center"><h4>Test table</h4>
</div>
<table cellpadding="3" cellspacing="0" style="margin:auto" border="1"><tr bgcolor="lightgrey"><th>id</th>
<th>name</th>
<th>age</th>
</tr>
<tr><td>1</td>
<td>Lucy</td>
<td>25</td>
</tr>
<tr bgcolor="yellow"><td>2</td>
<td>Tom</td>
<td>30</td>
</tr>
<tr><td>3</td>
<td style="color:red">Lily</td>
<td>20</td>
</tr>
</table>
</body>
</html>
